*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* BODY */
body{
    padding:10px;
    font-size: 15px;
    font-weight:200;
    line-height: 1.5rem;
    height:100vh;
}



/* headers */
h1 {
    font-size: 30px;
    font-weight:100;    
}

.login-form h2 {
    font-size: 25px;
    font-weight:400;
    /* background-color:white; */
    padding:5px;
}


/* Links */
a {
    color: blue;
    transition:ease 500ms;
    text-decoration: none;
    font-weight:400;
}
a:hover {
    color: black;
    background-color:white;
    padding:5px;
}



/* HEADER */
header{
    height:10vh;
    margin-bottom:20px;
}

header img{
    height:10vh;
    object-fit: cover;
}

/* date */
div.fra_date {
    color: #531717;
    font-weight:300;
    text-align: right; 
    float: right; 
    padding-right: 5px;
}

  

/* MAIN */
main{
    height:80vh;
}

/* form */
.login-form{
    border:1px solid black;
    width:fit-content;
    padding:10px;
    height:300px;
    transition: 500ms ease;

    background-color:rgb(201, 233, 233);
    color:black;
}
.login-form:hover{
    background-color:rgb(186, 231, 255);
    border-radius: 15px;
    /* border:none; */
}

/* user types */
.user-types{
    padding:5px;
    margin-bottom:10px;
}


/* id and passcode */
form .student-number label, 
form .student-passcode label{
    width:150px;
    margin-bottom:10px;
}


form .student-number input, 
form .student-passcode input{
    width:150px;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    background: transparent;
    transition:ease 500ms;
}


form .student-number input:focus, 
form .student-passcode input:focus{
    border-bottom:2px solid blue;
}

/* button */
form button{
    padding:5px;
    margin-bottom:10px;

    border:1px solid black;
    background:transparent;
    transition: ease 500ms;
}
form button:hover{
    background:white;
    /* border:none; */
    /* border-left:none; */
    /* border-top:none; */
    /* border-bottom: none; */
}



/* FOOTER */
footer{ 
    height:5vh;
}

.customfooter {
	background-color: #EAEAEA;
	/* color: #9C9E9C; */
}



/* FROM ORIGINAL FILE: 
Extract from normalize.css by Nicolas Gallagher 
and Jonathan Neal git.io/normalize 
*/